:root{
    --hue-value-1:0;
    --hue-value-2:230;
    --main-color: hsl(var(--hue-value-1),57%,53%);
    --button-hover-color:hsl(var(--hue-value-1),57%,53%);
    --body-bg-color : hsl(var(--hue-value-1),63%,97%);
    --border-color-2:hsl(var(--hue-value-1),40%,93%);
    --shadow:0 0 10px hsl(var(--hue-value-1),40%,90%);
    --body-gradient-bg-color-1:hsla(var(--hue-value-1),100%,50%,0.2);
    --body-gradient-bg-color-2:hsla(var(--hue-value-2),100%,50%,0.2);
    --decoration-bg-color-1:hsl(var(--hue-value-1),100%,70%);

}

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

/* variables */
:root{
    --orange:hsl(36,80%,50%);
    --white:hsl(0,0%,100%);
    --WIHTE: hsl(0,0%,100%);
    --BLACK: hsl(0,0%,0%);
    --black-90:hsl(0,0%,10%);
    --black-70:hsl(0,0%,30%);
    --black-alpha-40:hsla(0,0%,0%,0.4);
    --yellow-light:hsl(44,95%,83%);
    --green-light:hsl(158,68%,75%);
    --red-light:hsl(0,84%,80%);
    --orange-light:hsl(22,85%,80%);
    --select-box-bg-color:hsl(0,0%,100%);
    --border-color-1:hsl(0,05,90%);
}

/* base */
body{
    background-color: var(--body-bg-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:var(--black-70);
    min-height: 100vh;
    overflow-x: hidden;
}
a{
    color: var(--main-color);
    text-decoration: none;
}

a:hover{
    color:var(--main-color);
}
img{
 min-width: 100%;   
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
::selection{
    color: var(--WIHTE);
    background-color: var(--main-color);
}

/* header */
.heder-backdrop, .header-close-btn, .header-hamburger-btn{
    display: none;
}